.question-container {
  border-bottom: 1px solid #eee;
  padding: 25px 0 0;
  cursor: pointer;
  font-size: 1.1rem;
}

p {
  font-size: 16px;
  color: #6d717e;
  line-height: 30px;
  font-weight: 300;
}

.not-show {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-out;
}

.show-answer {
  display: block;
  max-height: 200px;
  transition: max-height 1s ease-in;
}

.rotate-icon {
  transform: rotate(180deg);
  transition: transform 0.5s ease-out;
}
.rotate-icon-again {
  transition: transform 0.5s ease-in;
}

.que-container {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  font-size: 18px;
  color: #000;
  font-weight: 500;
}
