@media only screen and (max-width: 600px) {
}
@media only screen and (min-width: 600px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 1200px) {
  .table-row {
    box-sizing: border-box;
    font-size: 16px;
  }
  .table-row h4 {
    padding: 0 5px;
  }

  .row-common {
    display: flex;
    align-items: center;
    font-weight: 300;
    box-sizing: border-box;
  }
  .row-common p {
    width: 33%;
    padding: 10px;
    margin: 0;
  }
  .row-common a {
    color: #323643;
    border-bottom: 0.5px dotted #323643;
    text-decoration: none;
  }
  .row-common:hover {
    background: #f7f7f7;
  }
  .ticks-grid {
    display: flex !important;
    width: 70% !important;
  }
  .table-col {
    width: 19% !important;
    box-sizing: border-box !important;
    text-align: center !important;
    color: #797879;
    font-weight: 300;
  }
  .dark {
    background: #fafafa;
  }
}
.table-row {
  box-sizing: border-box;
  font-size: 14px;
  padding: 0 10px;
}

.table-row h4 {
  padding: 0 10px;
}
.row-common {
  font-weight: 300;
  box-sizing: border-box;
}
.row-common p {
  padding: 10px;
  margin: 0;
}
.row-common a {
  color: #323643;
  border-bottom: 0.5px dotted #323643;
  text-decoration: none;
}
.row-common:hover {
  background: #f7f7f7;
}
.ticks-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}
.table-col {
  padding: 0 20px;
  box-sizing: border-box;
  text-align: left;
  color: #797879;
  font-weight: 500;
}
.dark {
  background: #fafafa;
}
/* .table-row {
  box-sizing: border-box;
  font-size: 16px;
}
.table-row h4 {
  padding: 0 10px;
}

.row-common {
  display: flex;
  align-items: center;
  font-weight: 300;
  box-sizing: border-box;
}
.row-common p {
  width: 33%;
  padding: 10px;
  margin: 0;
}
.row-common a {
  color: #323643;
  border-bottom: 0.5px dotted #323643;
  text-decoration: none;
}
.row-common:hover {
  background: #f7f7f7;
}
.table-col {
  width: 19%;
  box-sizing: border-box;
  text-align: center;
  color: #797879;
  font-weight: 300;
}
.dark {
  background: #fafafa;
} */
