@font-face {
  font-family: "hero-new";
  src: url("./fonts/Hero New Regular.woff");
}
* {
  box-sizing: border-box;
}
@media only screen and (max-width: 600px) {
  .products-tag {
    display: none;
  }
  .options-container {
    display: none;
  }
}
@media only screen and (min-width: 600px) {
  .products-tag {
    display: none;
  }
  .options-container {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .products-tag {
    display: none;
  }
  .options-container {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  .products-tag {
    display: none;
  }
  .options-container {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  body {
    align-items: center;
  }
  .header-container {
    padding: 10px 5px 0 !important;
    /* margin: 0 7% !important; */
    width: 80% !important;
    max-width: 1440px;
  }
  .logo-products-container {
    width: 275px !important;
  }
  .products-tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid rgb(255 58 58 / 20%);
    border-radius: 12px 12px 0 0;
    border-bottom: 0;
    padding: 0px 20px !important;
    background-color: #ffecec;
    font-size: 14px;
    font-weight: 600;
    box-sizing: border-box;
  }
  .products-tag p {
    margin: 0 0 2%;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    box-sizing: border-box;
  }
  .nav-bar-container {
    justify-content: center;
  }
  .nav-bar {
    width: 79% !important;
    max-width: 1400px;
  }
  .helpdesk-logo-container span:first-child {
    display: none;
  }
  .helpdesk-logo-container span {
    font-size: 24px !important;
  }
  .hf-productnav-logo {
    width: 30px;
  }
  .options-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    box-sizing: border-box;
  }
  .fea-button,
  .sol-button,
  .price-button,
  .res-button {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    border-radius: 0.5rem;
    padding: 1% 2%;
    justify-content: center;
    box-sizing: border-box;
  }
  .fea-button:hover,
  .sol-button:hover,
  .price-button:hover,
  .res-button:hover {
    background-color: #f8f8f8;
  }
  .back-banner {
    padding-top: 30px;
  }
  .outer-agent-container {
    margin-top: 30px;
  }

  .agents-container {
    width: 80% !important;
  }
  .agent-not-selected {
    max-width: 410px !important;
    padding: 25px 10px !important;
    margin: 0 15px !important;
  }
  .pricing-explainer-heading {
    margin: 20px 0;
  }
  .pricing-menu {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    /* justify-content: center !important; */
  }
  .duration-container {
    flex-direction: row !important;
    margin-bottom: 50px;
    padding: 15px 10px !important;
    min-width: 1150px;
    max-width: 1150px;
  }
  .scheme-inner-container {
    flex-direction: row !important;
    align-items: normal;
    min-width: 1120px;
    max-width: 1120px;
  }
  .table-container {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    margin-bottom: 0 !important;
    /* padding-bottom: 0 !important; */
  }
  .col-name-header {
    display: flex !important;
    justify-content: flex-end !important;
    padding: 2rem 7rem 2rem 0 !important;
    box-shadow: none !important;
    border-bottom: 1px solid rgba(152, 157, 173, 0.2);
    box-sizing: border-box;
    position: sticky;
    top: 3rem;
    background-color: #fff;
    text-align: left;
    color: #323643;
    min-width: 1140px;
    max-width: 1140px;
  }
  .col-name-header h4 {
    margin: 0;
    font-size: 20px !important;
    box-sizing: border-box;
    width: 150px !important;
  }
  .table-inner-container {
    margin: 1rem 2rem 0;
    min-width: 1120px;
    max-width: 1120px;
  }
  .table-bottom {
    width: 100% !important;
    padding: 20px 0 !important;
    max-width: 1070px;
  }
  .faq-section {
    padding: 4rem 3rem 8rem !important;
    box-sizing: border-box;
    background-color: #fafafa;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .faq-container {
    box-sizing: border-box;
    padding: 4rem 2rem !important;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 20px 10px 0 rgba(0, 0, 0, 0.08);
    /* min-width: 1120px; */
    max-width: 1120px;
  }
  .faq-container h3 {
    box-sizing: border-box;
    text-align: center;
    font-size: 32px;
    color: #323643;
    font-weight: 500;
    margin: 10px 0 60px;
  }
  .ques-container {
    box-sizing: border-box;
    padding: 0 4rem !important;
  }
  .not-footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .not-footer {
    padding: 0 9rem 0 !important;
    max-width: 1350px;
  }
  .not-footer-p {
    line-height: 0 !important;
  }
  .products-box {
    display: grid;
    width: 100%;
    grid-template-rows: 50% 50% !important;
    grid-template-columns: 33% 33% 33% !important;
    /* grid-gap: 5rem 0; */
    box-sizing: border-box;

    /* justify-content: space-between; */
  }
}
.App {
  box-sizing: border-box;
}
.App-header {
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgb(255 58 58 / 20%);
  box-sizing: border-box;
  justify-content: center;
  /* align-items: center; */
}
.header-container {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  margin: 0 10px 0;
  box-sizing: border-box;
  width: 100%;
}
.logo-products-container {
  display: flex;
  justify-content: space-between;
  width: fit-content;
  margin: 0 15px;
  box-sizing: border-box;
}
.login-container {
  display: flex;
  align-items: center;
  /* width: 25%; */
  justify-content: flex-end;
  margin: 0 20px 0 0;
  box-sizing: border-box;
  padding: 15px 0;
}
.hf-productbar-logo {
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.login-tag {
  font-size: 13px;
  color: #646f79;
  text-decoration: none;
  text-align: right;
  box-sizing: border-box;
}
.login-tag:hover {
  color: #000;
}
.nav-bar-container {
  display: flex;
  padding: 12px 15px;
  width: 100%;
  box-sizing: border-box;
  background-color: #ffecec;
  position: sticky;
  top: 0;
  z-index: 1;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0 15px;
  width: 100%;
  align-items: center;
}
.helpdesk-logo-container {
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
.helpdesk-logo-container span {
  font-size: 18px;
}
.hf-productnav-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #000;
  box-sizing: border-box;
}
.hf-productnav-logo {
  display: flex;
  align-items: center;
}
.hf-productnav-logo-text {
  display: flex;
  align-items: center;
  padding: 0 0 0 10px;
}
.demo-button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
}
.demo-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff3a3a;
  border-radius: 6px;
  padding: 6px 12px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  box-sizing: border-box;
}
.plans-menu {
  width: 100%;
}
.back-banner {
  background: url(https://assets.www.happyfox.com/v2/images/pricing-new-banner-bg-new.png)
    no-repeat left top;
  text-align: center;
  background-size: cover;
  box-sizing: border-box;
}
.outer-container {
  width: 100%;
}
.plans-pricing-container {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.plans-pricing-container h1 {
  width: 100%;
  font-size: 40px;
  color: #000;
  font-weight: 600;
  margin: 45px 0;
  box-sizing: border-box;
}
.outer-agent-container {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 100%;
}
.agents-container {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
.agent-not-selected {
  display: flex;
  background-color: #ffeada;
  border-radius: 16px 16px 0 0;
  width: 50%;
  box-sizing: border-box;
  margin: 0 10px;
  padding: 20px 10px;
  align-items: center;
  color: #212529;
}
.pricing-explainer-heading {
  margin: 10px 0;
  font-weight: 600;
  font-size: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.agent-not-selected:hover {
  background-color: white;
}
.agent-selected {
  background-color: white;
}
.pricing-menu {
  display: block;
  margin: 20px 0 0;
  padding: 20px 10px;
  border-bottom: 2px solid #eee;
}
.duration-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #f5f4f4;
  border-radius: 10px;
}
.scheme-container {
  padding: 30px 15px;
  margin-top: 30px;
  box-sizing: border-box;
  margin: auto;
}
.scheme-inner-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
}
.scheme-p {
  margin: 60px auto 40px;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  max-width: 570px;
  border-radius: 16px;
  padding: 14px 0 12px;
  color: #000;
  background: #f9f9f9;
  line-height: 25px;
}

.table-section-h3 {
  box-sizing: border-box;
  margin: 0;
  text-align: center;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #000;
  transition: all 0.2s ease-in;
  padding: 40px 0;
  background: #f8f8f8;
}
.table-container {
  margin: 1rem 0rem 0;
  padding: 1rem 0 0rem;
  box-sizing: border-box;
}
.col-name-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px 0px;
  color: #323643;
  background-color: #fff;
  position: sticky;
  top: 3rem;
  padding: 20px 20px;
  border-bottom: 1px solid rgba(152, 157, 173, 0.2);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.08);
}
.col-name-header h4 {
  margin: 0;
  font-size: 18px;
  box-sizing: border-box;
}
.table-bottom {
  color: #9b9b9b;
  padding: 20px 25px;
  margin: 0;
}
.faq-section {
  padding: 4rem 1.5rem 0;
  box-sizing: border-box;
  background-color: #fafafa;
  margin-bottom: 5rem;
}
.faq-container {
  box-sizing: border-box;
  padding: 3rem 3rem;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 20px 10px 0 rgba(0, 0, 0, 0.08);
}
.faq-container h3 {
  box-sizing: border-box;
  text-align: center;
  font-size: 32px;
  color: #323643;
  font-weight: 500;
  margin: 10px 0 60px;
}

.not-footer-section {
  margin: 0 3rem;
  box-sizing: border-box;
}
.not-footer {
  box-sizing: border-box;
  /* padding: 0 3rem 0; */
  display: flex;
  flex-direction: column;
}
.not-footer-p {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  text-align: center;
  font-size: 32px;
  margin-bottom: 70px;
  color: #323643;
  font-weight: 600;
  line-height: 35px;
}
.products-box {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  /* grid-gap: 5rem 0; */
  box-sizing: border-box;
  justify-content: space-between;
}
