@font-face {
  font-family: "New Hero";
  src: url("fonts/Hero\ New\ Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "New Hero";
  src: url("fonts/Hero\ New\ Thin\ Italic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}
/* New Hero UltraLight */
@font-face {
  font-family: "New Hero";
  src: url("fonts/Hero\ New\ UltraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "New Hero";
  src: url("fonts/Hero\ New\ UltraLight\ Italic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}
/* New Hero Light */
@font-face {
  font-family: "New Hero";
  src: url("fonts/Hero\ New\ Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "New Hero";
  src: url("fonts/Hero\ New\ Light\ Italic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
/* New Hero Regular */
@font-face {
  font-family: "New Hero";
  src: url("fonts/Hero\ New\ Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "New Hero";
  src: url("fonts/Hero\ New\ Regular\ Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
/* New Hero Medium */
@font-face {
  font-family: "New Hero";
  src: url("fonts/Hero\ New\ Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "New Hero";
  src: url("fonts/Hero\ New\ Medium\ Italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
/* New Hero SemiBold */
@font-face {
  font-family: "New Hero";
  src: url("fonts/Hero\ New\ SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "New Hero";
  src: url("fonts/Hero\ New\ SemiBold\ Italic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}
/* New Hero Bold */
@font-face {
  font-family: "New Hero";
  src: url("fonts/Hero\ New\ Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "New Hero";
  src: url("fonts/Hero\ New\ Bold\ Italic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
/* New Hero ExtraBold */
@font-face {
  font-family: "New Hero";
  src: url("fonts/Hero\ New\ ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "New Hero";
  src: url("fonts/Hero\ New\ ExtraBold\ Italic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}
/* New Hero Super */
@font-face {
  font-family: "New Hero";
  src: url("fonts/Hero\ New\ Super.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "New Hero";
  src: url("fonts/Hero\ New\ Super\ Italic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}
body,
html {
  margin: 0;

  box-sizing: border-box;
}
* {
  font-family: "New Hero", sans-serif;
}
